.dropdown-container {
  position: relative;
  display:flex;
  gap:20px;
}
.dropdown-btn{
  font-family: "Alice", serif;
  max-width:fit-content;
  min-width:fit-content;
  max-height:30px;
  padding:8px;
  border:none;
  border-radius:8px;
}

.dropdown-list {
  z-index:5;
  position: absolute;
  top: 0;
  left: 0;
  margin:0;
  margin-top:30px;
  padding: 0;
  max-width: fit-content;
  height:200px;
  overflow-y:scroll;
  border-radius:8px;
  border: 1px solid #ccc;
  list-style-type: none;
}

.dropdown-list li {
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

.selected-item-list{
  display:flex;
  flex-wrap:wrap;
  
}

.selected-item {
  display:inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size:12px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #f7f7f7;
  border-radius: 30px;
  font-weight: bold;
  border: 1px solid #3333339c;
}

.item-label {
  padding-right: 10px;
  min-width:fit-content;
}

.divider {
  height: 100%;
  width: 1px;
  background-color: #333333; /* color of the vertical line */
  margin-right: 10px;
}

.remove-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 12px;
  line-height: 1;
  color: #ff8080;
  padding: 0;
  margin: 0;
}

/* ANIMATIONS */
@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pop-in {
  animation: popIn 0.5s forwards;
}
