.exemplar-section {
  background-color: #c6def1;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.exemplar-section {
  display: flex;
  flex-direction: column;
}
.text-inputs-container {
  display: flex;
  overflow-x:scroll;
  white-space: nowrap;
  width:100%;
  align-items: center;
  gap: 10px; /* Spacing between each TextInput */
}
.plus-button {
  color:#333333;
  text-decoration: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  width: 40px;
  min-width:40px;
  height: 40px;
  transition: background-color 0.3s, transform 0.2s;
}

.plus-button:hover {
  background-color: #d4d4d4; 
}

.plus-button:active {
  background-color: #c2c2c2; 
  transform: scale(0.95); 
}
.plus-button i {
  color: #333;
  font-size: 16px;
}

.plus-button:hover i {
  color: #555;
}

.fa-plus{
  align-self: center;
  justify-self: center;
  text-align: center;
}

/* ANIMATIONS */
@keyframes slideInLeft {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideInLeft 0.5s forwards;
}
