.prompt-section {
  background-color: #b0b0b0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}

.prompt-text-container{
  width: calc(100% - 40px);
  min-height:100px;
  border: none;
  padding:10px;
  background-color: #f7f7f7;
  margin:10px;
  border-radius: 10px;
  resize: vertical;
  font-family: 'Alice', serif;
}

.prompt-components-wrapper>*{
  display:inline;
}

.copy-btn {
  align-self: flex-end;
  background: none;
  cursor: pointer;
  border: none;
  color: #333333; /* Muted color for the button */
  font-size: 25px;
  text-align: end;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.copy-btn i.fa{
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: inline-block; /* To allow for transforms */
}
.copy-btn:hover i.fa {
  transform: scale(1.1); /* Slightly enlarges icon on hover for a subtle effect */
}

/* Fade-out effect for icon change */
.fade-out-icon {
  opacity: 0;
  pointer-events: none; /* Ensure the fading-out icon is non-interactive */
}

.copy-btn:hover {
  color: #555;
  transform: scale(1.1);
  opacity: 0.8;
}

.copy-btn:focus {
  outline: none;
}

.save-btn{
  font-family: "Alice", serif;
  max-width:fit-content;
  min-width:fit-content;
  max-height:30px;
  padding:8px;
  border:none;
  border-radius:8px;
}

.prompt-btns{
  padding:0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* MODAL STYLES */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.title-input{
  font-family: "Alice", serif;
  width: calc(100% - 40px);
  border: none;
  padding: 10px;
  background-color: #f7f7f7;
  margin: 10px 0px;
  border-radius: 10px;
  resize: vertical;
  padding-right: 30px;
}

.modal-save-btn, .modal-close-btn {
  font-family: "Alice", serif;
  max-width:fit-content;
  min-width:fit-content;
  max-height:30px;
  padding:8px;
  border:none;
  border-radius:8px;
}

.modal-close-btn {
  background-color: #e7e7e7;
  color: #333;
}

.modal-save-btn {
  background-color: #333;
  color: #f7f7f7;
}