textarea {
  width: calc(100% - 40px);
  border: none;
  padding:10px;
  background-color: #f7f7f7;
  margin:10px;
  border-radius: 10px;
  resize: vertical;
  font-family: 'Alice', serif;
}
.exemplar-text-input{
  width:500px;
  min-width:500px;
  box-sizing: border-box;
  margin: 10px 0px;
}
