@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

/* Global styles for the app */
.container {
  font-family: "Alice", serif;
  min-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(241, 241, 241);
  border-radius: 8px;
}
.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

h2{
  margin-top:0;
  margin-bottom:0;
  margin-left:10px;
}


/* COLOR PALLET 
pink
#f9c6c9

yellow
#faedcb

green
#c9e4de

blue
#c6def1

purple
#dbcdf0

orange
#f7d9c4
*/
