@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

/* Global styles for the app */
.container {
  font-family: "Alice", serif;
  min-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(241, 241, 241);
  border-radius: 8px;
}
.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.title-info-icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}
p {
  line-height: 150%;
}
.hl {
  border-radius: 4px;
  padding: 0px 2px;
}


.context-hl {
  /* pink */
  background-color: #f9c6c9;
}
.example-hl {
  /* blue */
  background-color: #c6def1;
}
.tone-hl {
  /* purple */
  background-color: #dbcdf0;
}
.format-hl {
  /* orange */
  background-color: #f7d9c4;
}
.persona-hl {
  /* yellow */
  background-color: #faedcb;
}
.task-hl {
  /* green */
  background-color: #c9e4de;
}
.no-hl {
  background-color: #f7f7f7;
}
